@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root{
    --cor-primaria: #000000;
    --cor-secundaria: #dcd7C9;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --font-primaria:'Krona One', sans-serif;
    --font-secundaria:'Montserrat' , sans-serif; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 13%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 3% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 52px;
}

.apresentacao__conteudo {
    width: 53%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.apresentacao__conteudo__titulo {
    font-size: 1.5rem;
    font-family: var(--font-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
    }

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--cor-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
 
 .apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.25rem;
 }   

.apresentacao__links__subtitulo {
    color: var(--cor-secundaria);
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 8px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__imagem {
    max-width: 372px;
    max-height: 473px;
    width: auto;
    height: auto;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.rodape {
    padding: 21px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
    }

    @media (max-width: 960px) {
    .cabecalho {
    padding: 10%;
    } 
    .cabecalho__menu {
    justify-content: center;
    }
    .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
    }
    .apresentacao__conteudo {
    width: auto;
    }
    }          